VITE_SUPABASE_URL=https://xxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndpaGZ5Y2d4ZHZhemhnbm5wcmh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwMzU3MjQsImV4cCI6MjEwMjYxMTcyNH0.bt1_25Sezo2ICZocSs49vEtxGfcrs7xO8jd3AaHFRQM
secret